body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cabecalho__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.lista__produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.produto--item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes__produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.informacoes__produto--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__formulario__botoes {
    display: flex;
    justify-content: space-between;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo {
    display: flex;
    align-items: center;
}

.rodape__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}