.cabecalho__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo {
    display: flex;
    align-items: center;
}

.rodape__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}