@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

:root {
    --fonte-principal: "Press Start 2P", system-ui;
    --fonte-secundaria: "IBM Plex Mono", monospace;

    --cor-primaria: #5300C8;
    --cor-secundaria: #f0f0f0;
}

.cabecalho {
    background: var(--cor-primaria);
    padding: 20px 0;
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.rodape {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 4rem;
}

.rodape__logo span {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.rodape__desenvolvimento {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-secundaria);
}

.rodape__descricao span {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--cor-secundaria);
}